{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>KHOWPA FUTSAL & GAME ZONE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

</head>

<body>
    <!-- navbar -->

    <div class="b-example-divider"></div>

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap" />
                    </svg>

                    <span class="fs-4">KHOWPA</span>

                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                   
                    <li><a href="{% url 'booking' %}" class="nav-link px-2 text-white">Booking</a></li>
                    {% comment %} <li><a href="{% url 'price' %}" class="nav-link px-2 text-white">Pricing</a></li> {% endcomment %}
                    <li><a href="{% url 'payment' %}" class="nav-link px-2 text-white">Payment</a></li>
                    <li><a href="{% url 'player' %}" class="nav-link px-2 text-white">Player</a></li>
                    {% comment %} <li><a href="{% url 'employee' %}" class="nav-link px-2 text-white">Employee</a></li> {% endcomment %}
                    <li><a href="{% url 'match' %}" class="nav-link px-2 text-white">Match</a></li>
                </ul>

                <form class="d-flex" role="search" method="get" action="{% url 'search' %}">
                    <input class="form-control me-2" type="search" placeholder="Search" id="query" name="query"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" name="submit">Search</button>
                </form>

                <div class="text-end">
                    <a href="/signin">
                        <button type="button" class="btn btn-outline-light mx-2">signin</button>
                    </a>

                    <a href="/signup">
                        <button type="button" class="btn btn-warning">Sign-up</button>
                    </a>
                    <!-- <a href="/signout">
                        <button type="button" class="btn btn-warning">Sign-out</button>
                    </a> -->

                </div>
            </div>
        </div>
    </header>
    <!-- navbar -->

    <!-- herosection -->
    <div class="b-example-divider"></div>

    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">KHOWPA FUTSAL</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4">KHOWPA FUTSAL & GAME ZONE is one of the renowned Futsal ground of Bhaktapur
                    situated at Suryabinayak, Bhaktapur which was established in 2072 B.S</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{% url 'Browse' %}">
                        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
                            Browse</button></a>

                </div>
            </div>
        </div>
    </div>

    <div class="b-example-divider mb-0"></div>
    <!-- herosection -->

    <!-- custom-cards -->

    <div class="b-example-divider"></div>

    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Matches</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg">
                    <img src="{% static 'image/img.jpg' %}"></img>



                    <div class="d-flex flex-column h-70   text-white text-shadow-1">


                        <h2 class=" pt-3 mt-5 mb-4 display-6 lh-1 fw-bold">International futsal match between Brazil
                            and Argentina in 2007</h2>

                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg">
                    <img src="{% static 'image/img1.jpg' %}"></img>



                    <div class="d-flex flex-column h-70   text-white text-shadow-1">


                        <h2 class=" pt-3 mt-5 mb-4 display-6 lh-1 fw-bold">International futsal match between France
                            and Spain in 2007</h2>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-4 shadow-lg">
                    <img src="{% static 'image/img2.jpg' %}"></img>



                    <div class="d-flex flex-column h-70   text-white text-shadow-1">


                        <h2 class=" pt-3 mt-5 mb-4 display-6 lh-1 fw-bold">International futsal match between Germany
                            and Portugal in 2007</h2>

                    </div>
                </div>
            </div>

            <!-- custom-cards -->

          <!-- footer -->

    <div class="b-example-divider"></div>

    <div class="container">
        <footer class="py-2 my-2">
            <ul class="nav justify-content-center border-bottom pb-2 mb-2">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="{% url 'booking' %}" class="nav-link px-2 text-muted">Booking</a></li>
                <li class="nav-item"><a href="{% url 'price' %}" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="{% url 'payment' %}" class="nav-link px-2 text-muted">payment</a></li>
                <li class="nav-item"><a href="{% url 'player' %}" class="nav-link px-2 text-muted">Player</a></li>
                <li class="nav-item"><a href="{% url 'employee' %}" class="nav-link px-2 text-muted">Employee</a>
                </li>
                <li class="nav-item"><a href="{% url 'match' %}" class="nav-link px-2 text-muted">Match</a></li>
            </ul>
            <p class="text-center text-muted">Futsal Management System @2022</p>
        </footer>
    </div>

    <!-- footer -->
</body>

</html>