{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title> Signup</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
  <script src="{% static 'main/javascript.js' %}"></script>

</head>

<body>

  <!-- navbar -->
  <!-- alert -->
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  <!-- alert -->

  <div class="container">
    <main class="form-signup">

      <form method="POST" id="signupform" action="{% url 'signup' %}" onsubmit="return signupform()">
        {% csrf_token %}

        <h1 class="h3 mb-3 fw-normal text-center">Sign Up</h1>
        

        <div class="form-floating">
          <input type="text" name="username" class="form-control" id="username" placeholder="name@example.com" required>
          <label for="floatingInput">Username</label>
        </div>
        <br>
        <div class="form-floating">
          <input type="text" name="address" class="form-control" id="address" placeholder="name@example.com" required>
          <label for="floatingInput">Address</label>
        </div>
        <br>

        <div class="form-floating">
          <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
          <label for="floatingInput">Email</label>
        </div>
        <br>

        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="Password" placeholder="Password" required>
          <label for="floatingPassword">Password</label>
        </div>
        <br>

        <div class="form-floating">
          <input type="password" name="cpassword" class="form-control" id="cpassword" placeholder="Password"
            required>
          <label for="floatingPassword">Confirm Password</label>
        </div>
        <br>



        <button class="w-100 btn btn-lg btn-primary" name="submit" type="submit">Sign Up</button>
      </form>
    </main>
  </div>
  <p class="text-center text-muted"><a href="{% url 'signin' %}" class="nav-link px-2 ">Already Have an Account</a></p>
  <!-- footer -->

  <div class="b-example-divider"></div>

  <div class="container">
    <footer class="py-3 my-4">
      
      <p class="text-center text-muted">Futsal Management System @2022</p>
    </footer>
  </div>

  <!-- footer -->
</body>

</html>